.card {
    width: 320px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #f9f9f9;
    font-family: Arial, sans-serif;
}

.card h3 {
    text-align: center;
    color: #2c3e50;
}

.card p {
    margin: 6px 0;
}


.input{
    display: flex;
    justify-content: center;

}