<div class="thankyou-container">

    <div class="thankyou-card">

        <div class="icon-box">
            <i class="fa-solid fa-hourglass-half"></i>
        </div>

        <h2>Thank You!</h2>
        <h5>Your Savings Account request is in progress.</h5>

        <p class="info-text">
            Your application has been successfully submitted.
            Our team is verifying your details.
            You will receive an email/SMS once your account is approved.
        </p>

        <p class="ref-text">
            Reference ID: <b>{{ refId }}</b>
        </p>

        <div class="actions">
            <button class="btn btn-primary" routerLink="">
                Go to Dashboard
            </button>

            <button class="btn btn-outline-secondary" routerLink="/saving">
                Apply Again
            </button>
        </div>

    </div>

</div>