.thankyou-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f6fa;
}

.thankyou-card {
    width: 460px;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    background: white;
}

.icon-box {
    font-size: 70px;
    color: #0d6efd; /* bootstrap primary blue */
    margin-bottom: 15px;
}

.info-text {
    color: #555;
    margin: 15px 0;
}

.ref-text {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
