.custom-navbar {
    background: white;
}

.brand-text {
    font-size: 18px;
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
        margin-top: 10px;
    }

    .login-btn {
        width: 100%;
        margin-top: 10px;
    }

    .navbar-collapse {
        padding-bottom: 10px;
    }
}
.navbar {
    font-size: 15px;
}

.nav-link {
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover {
    color: #ffc107 !important;
}

.dropdown-menu {
    border-radius: 10px;
}

.form-select {
    width: 160px;
}
.form-select {
    width: 160px;
    border-radius: 8px;
    cursor: pointer;
}

.form-select:focus {
    box-shadow: none;
    border-color: #0d6efd;
}
