<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-body">

                    <form #loginForm="ngForm">

                        <div class="form-group mb-3">
                            <label>Email</label>
                            <input type="email" name="email" ngModel required
                                pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #email="ngModel" class="form-control">

                            <small class="text-danger" *ngIf="email.touched && email.invalid">
                                <span *ngIf="email.errors?.['required']">Email is required</span>
                                <span *ngIf="email.errors?.['pattern']">Enter valid email</span>
                            </small>
                        </div>

                        <div class="form-group mb-3">
                            <label>Password</label>
                            <input type="password" name="password" ngModel required minlength="6" #password="ngModel"
                                class="form-control">

                            <small class="text-danger" *ngIf="password.touched && password.invalid">
                                <span *ngIf="password.errors?.['required']">Password is required</span>
                                <span *ngIf="password.errors?.['minlength']">
                                    Minimum 6 characters required
                                </span>
                            </small>
                        </div>

                        <div class="form-group mb-3">
                            <label>Admin Id</label>
                            <input type="text" name="admin" ngModel required pattern="^ADMIN[0-9]{3}$" #admin="ngModel"
                                class="form-control" placeholder="Example: ADMIN123">

                            <small class="text-danger" *ngIf="admin.touched && admin.invalid">
                                <span *ngIf="admin.errors?.['required']">Admin Id required</span>
                                <span *ngIf="admin.errors?.['pattern']">
                                    Format must be ADMIN + 3 digits (e.g., ADMIN123)
                                </span>
                            </small>
                        </div>

                        <button [disabled]="loginForm.invalid" routerLink="/user" class="btn btn-warning">
                            Login Admin
                        </button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>