:host {
    display: block;
    min-height: 100vh;
    background-image: url("https://static.vecteezy.com/system/resources/previews/004/585/326/original/banking-building-business-finance-management-low-poly-wireframe-illustration-isolated-background-free-vector.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.card {
    background: rgba(255, 255, 255, 0.95);
}
