<nav class="sbi-navbar">
    <div class="left-menu">
        <span routerLink="services">{{ 'SERVICES' | translate }}</span>
        <span>{{ 'FAQ' | translate }}</span>

        <span>
            <a href="https://www.corporatewebsite.com" target="_blank" style="color:white; text-decoration:none;">
                {{ 'CORPORATE_WEBSITE' | translate }}
            </a>
        </span>

        <span routerLink="donation">{{ 'DONATIONS' | translate }}</span>

        <span>
            <a href="https://www.youtube.com/@StateBankOfIndia" target="_blank"
                style="color:white; text-decoration:none;">
                {{ 'VIDEOS' | translate }}
            </a>
        </span>

        <span routerLink="current">
            {{ 'APPLY_CURRENT' | translate }}
        </span>

    </div>



</nav>

<header class="sbi-header">
    <div class="logo">
        <marquee behavior="" direction="left" class="text-success">
            <strong>
                {{ 'MARQUEE_TEXT' | translate }}
            </strong>
        </marquee>

    </div>
</header>

<div class="top-bar">
    <span class="text-danger">
        {{ 'WARNING_TOP' | translate }}
    </span>
</div>


<div class="background-banner">
    <div class="banner-overlay">
        <img src="https://img.freepik.com/premium-photo/banking-backgrounds_670382-290694.jpg" alt="bank background" />
    </div>
</div>


<div class="sbi-wrapper">
    <div class="main-container">
        <div class="bank-row">

            <div class="bank-card mt-4">
                <h3>{{ 'PERSONAL_BANKING' | translate }}</h3>

                <button class="login-btn" routerLink="/login">
                    {{ 'LOGIN' | translate }} ➜
                </button>

                <div class="options">
                    <span>{{ 'NEW_USER_REG' | translate }}</span>
                    <span>{{ 'HOW_DO_I' | translate }}</span>
                    <span>{{ 'CUSTOMER_CARE' | translate }}</span>
                    <span>{{ 'LOCK_UNLOCK' | translate }}</span>
                </div>
            </div>

            <div class="bank-card mt-4">
                <h3>{{ 'CORPORATE_BANKING' | translate }}</h3>

                <button class="login-btn" routerLink="/login">
                    {{ 'LOGIN' | translate }} ➜
                </button>

                <div class="options">
                    <span>{{ 'NEW_CORPORATE_REG' | translate }}</span>
                    <span>{{ 'HOW_DO_I' | translate }}</span>
                    <span>{{ 'CUSTOMER_CARE' | translate }}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="footer-links">
        <div style="cursor: pointer;" routerLink="login">
            {{ 'FOOTER_BANKING_FORMS' | translate }}
        </div>

        <div style="cursor: pointer;">
            {{ 'FOOTER_DOORSTEP' | translate }}
        </div>

        <div style="cursor: pointer;">
            {{ 'FOOTER_MUTUAL_FUND' | translate }}
        </div>

        <div style="cursor: pointer;" routerLink="debit">
            {{ 'FOOTER_FAKE_CARD' | translate }}
        </div>
    </div>
</div>

<div class="warning-banner">
    <span>
        {{ 'WARNING_BOTTOM' | translate }}
    </span>
</div>

<!-- <div class="social-sidebar">
    <div class="social-box">F</div>
    <div class="social-box">X</div>
    <div class="social-box">Y</div>
    <div class="social-box">in</div>
    <div class="social-box">📷</div>
    <div class="social-box">P</div>
    <div class="social-box">📩</div>
    <div class="social-box">📞</div>
</div> -->

<img src="https://static.vecteezy.com/system/resources/previews/004/695/787/non_2x/banking-service-background-bank-building-icon-made-with-currency-symbols-dollar-euro-yen-and-pound-icons-background-with-currency-signs-bank-financing-money-exchange-illustration-vector.jpg"
    alt="Bank services background" loading="lazy" style="width:100%; height:220px; object-fit:cover;" />

<div class="bottom-grid">
    <div>
        <p style="cursor: pointer;" routerLink="login">
            {{ 'FOOTER_BANKING_FORMS' | translate }}
        </p>
        <p style="cursor: pointer;">
            {{ 'BOTTOM_SALARY' | translate }}
        </p>
        <p style="cursor: pointer;">
            {{ 'BOTTOM_REMIT' | translate }}
        </p>
    </div>

    <div>
        <p style="cursor: pointer;">
            {{ 'BOTTOM_QMS' | translate }}
        </p>
        <p style="cursor: pointer;">
            {{ 'FOOTER_DOORSTEP' | translate }}
        </p>
        <p style="cursor: pointer;">
            {{ 'BOTTOM_NRI' | translate }}
        </p>
    </div>

    <div>
        <p style="cursor: pointer;">
            {{ 'BOTTOM_RBI' | translate }}
        </p>
        <p style="cursor: pointer;">
            {{ 'BOTTOM_GENERAL_INS' | translate }}
        </p>
        <p style="cursor: pointer;">
            {{ 'BOTTOM_LIFE_INS' | translate }}
        </p>
    </div>

    <div>
        <p style="cursor: pointer;">
            {{ 'BOTTOM_BLOCK_ATM' | translate }}
        </p>
        <p style="cursor: pointer;">
            {{ 'BOTTOM_FASTAG' | translate }}
        </p>
        <p style="cursor: pointer;">
            {{ 'FOOTER_FAKE_CARD' | translate }}
        </p>
    </div>
</div>